<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		   http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
          version="3.0">
    <listener>
        <listener-class>srvlt.AppStartupListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>srvlt.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>srvlt.Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet3</servlet-name>
        <servlet-class>srvlt.Servlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet4</servlet-name>
        <servlet-class>srvlt.Servlet4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet5</servlet-name>
        <servlet-class>srvlt.Servlet5</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet6</servlet-name>
        <servlet-class>srvlt.Servlet6</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet7</servlet-name>
        <servlet-class>srvlt.Servlet7</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet8</servlet-name>
        <servlet-class>srvlt.Servlet8</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet9</servlet-name>
        <servlet-class>srvlt.Servlet9</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet10</servlet-name>
        <servlet-class>srvlt.Servlet10</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet11</servlet-name>
        <servlet-class>srvlt.Servlet11</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet12</servlet-name>
        <servlet-class>srvlt.Servlet12</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/airports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/companies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet3</servlet-name>
        <url-pattern>/flights</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet4</servlet-name>
        <url-pattern>/planes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet5</servlet-name>
        <url-pattern>/tickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet6</servlet-name>
        <url-pattern>/types</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet7</servlet-name>
        <url-pattern>/addAirport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet8</servlet-name>
        <url-pattern>/editAirport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet9</servlet-name>
        <url-pattern>/deleteAirport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet10</servlet-name>
        <url-pattern>/deleteCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet11</servlet-name>
        <url-pattern>/addCompany</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet12</servlet-name>
        <url-pattern>/editCompany</url-pattern>
    </servlet-mapping>
</web-app>
